*{
  scroll-behavior: smooth;
}
.slide-scroll {
  animation: slide 20s linear infinite;
}

.slide-scroll:hover {
  animation-play-state: paused;

}

@keyframes slide {
  0% {
      transform: translateX(0%);
  }

  100% {
      transform: translateX(-100%);
  }
}

@media (max-width:767.98px){
  .social-icons svg{
    width: 32px;
    height: 32px;
  }
}