.slide-scroll {
  animation: slide 20s linear infinite;
}

.slide-scroll:hover {
  animation-play-state: paused;

}

@keyframes slide {
  0% {
      transform: translateX(0%);
  }

  100% {
      transform: translateX(-100%);
  }
}